<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Products</title>
</head>
<body>
<h2 th:text="'List of Products'">List of Products</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">SKU</th>
        <th style="width: 150px;">Product Name</th>
        <th style="width: 150px;">Description</th>
        <th style="width: 150px;">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${products}">
        <td>
            <a th:href="@{/products/__${product.id}__}" th:text="${product.sku}"/></a>
        </td>
        <td th:text="${product.name}">Nike</td>
        <td th:text="${product.productDescription}">One Size Fits All/White/Caps</td>
        <td th:text="${product.productPrice}">PHP1,499.00</td>
    </tr>
    </tbody>
</table>

</body>
</html>