<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body th:object="${product}">
<h2>Product Details</h2>
<h3 th:text="*{category.name}">Category Details</h3>

<table class="table table-striped">
    <tr>
        <a href=# th:href="@{'/categories/'+*{category.id}+'/products/'+${product.id}+'/productImage'}" target="_blank">
        <img th:src="@{'/categories/' + *{category.id} + '/products/' + ${product.id} + '/productImage'}"
             width="200" height="200">
        </a>
    </tr>
    <tr>
        <td>
            <a href=# th:href="@{'/categories/'+*{category.id}+'/products/'+*{id}+'/image'}" >
                <input type="button" value="Upload Image" />
            </a>
        </td>
    </tr>
    <tr>
        <th>SKU:</th>
        <td th:text="*{sku}">12345678</td>
    </tr>
    <tr>
        <th>Name: </th>
        <td th:text="*{name}"> Alpha Alpha Alpha</td>
    </tr>
    <tr>
        <th>Description: </th>
        <td th:text="*{productDescription}"> Alpha Description</td>
    </tr>
    <tr>
        <th>Price: </th>
        <td th:text="*{productPrice}"> Alpha Price</td>
    </tr>
        </table>
    </tr>
</table>
<br/>
<br/>
<a th:href="@{'/admin/categories/products/edit?productName='+*{name}}">
    <input type="submit" value="Edit Product" />
</a>


</body>
</html>