<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body>
    <h2 th:text="'Category List'">Category List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 200px;">Category Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category:${categories}">
                <td>
                    <a th:href="@{'/admin/categories/?categoryName='+${category.name}}" th:text="${category.name}"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>
    <br/>
    <a th:href="@{/admin/categories/new}">
    <input type="button" value="New Category" />
    </a>
    <a th:href="@{/admin/categories/products/showall}">
        <input type="button" value="View All Products" />
    </a>

</body>
</html>
