<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
    <h2 th:text="'Category List'">Category List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Category Code</th>
                <th style="width: 200px;">Category Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category:${categories}">
                <td>
                    <a th:href="@{/categories/__${category.id}__}" th:text="${category.categoryCode}"></a>
                </td>
                <td th:text="${category.name}"/>
            </tr>
        </tbody>
    </table>

    <br/>
    <br/>
    <a th:href="@{/categories/new}">
    <input type="button" value="New Category" />
    </a>
    <a th:href="@{/categories/products/showall}">
        <input type="button" value="View All Products" />
    </a>

</body>
</html>
