<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Form</title>
</head>
<body>
    <h2>Create or Update Category Form</h2>

    <form th:object="${category}" method="post" >

        <label>Category Code: </label>
        <input type="text" th:field="*{categoryCode}">
        <span th:if="${#fields.hasErrors('categoryCode')}" th:errors="*{categoryCode}">Duplicate</span>
        <br/>
        <br/>
        <label>Name: </label>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Duplicate</span>
        <br/>
        <br/>
        <input type="submit" value="Save Category"/>
    </form>

</body>
</html>