<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Commerce V1.0</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<div>
    <div> <!--header-->
        <div th:object="${category}">
            <h2 th:text="*{name}">Code Name</h2>
        </div>
        <a th:href="@{'/shoppingcart'}">
            <label th:text="${cart} +'items'"/>
        </a>
    </div> <!--header closing-->
    <div><!--content-->
        <div th:each="product:${category.products}">
            <a th:href="@{'/categories/products?sku='+${product.sku}}">
                <img th:src="@{'/categories/products/image?sku='+${product.sku}}"
                     width="200" height="200">
            </a>
            <br/>
            <a th:href="@{'/categories/products?sku='+${product.sku}}" th:text="${product.name}"/>
            <br/>
            <label th:text="${product.productDescription}">Product Description</label>
            <br/>
            <label th:text="${product.productPrice}">Product Price</label>
            <br/>
        </div>
    </div><!--content closing-->
</div>
</body>
</html>