<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Commerce V1.0</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body th:object="${category}">
    <h2 th:text="*{name}">Code Name</h2>
        <table>
            <tr>
                <td th:each="product:${category.products}">
                    <a th:href="@{*{id} + '/products/' + ${product.id}}">
                        <img th:src="@{${product.category.id} + '/products/' + ${product.id} + '/image'}"
                             width="200" height="200">
                    </a>
                    <br/>
                    <a th:href="@{*{id} + '/products/' + ${product.id}}" th:text="${product.name}"/>
                    <br/>
                    <label th:text="${product.productDescription}">Product Description</label>
                    <br/>
                    <label th:text="${product.productPrice}">Product Price</label>
                    <br/>
                    <form method="post">
                        <input type="hidden" name="productId" th:value="${product.id}">
                        <input type="submit" value="Add to cart" />
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}" />
                    </form>
                </td>
            </tr>
        </table>
    <a th:href="@{'/shoppingcart'}">
    <label th:text="${cart} +'items'"/>
    </a>
</body>
</html>