<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body>
    <table>
        <tr>
            <td th:each="category:${categories}">
                <a th:href="@{${category.id}}" th:text="${category.name}"/>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td th:each="product:${products}">
                <a th:href="@{${product.category.id} + '/products/' + ${product.id}}">
                    <img th:src="@{${product.category.id} + '/products/' + ${product.id} + '/image'}"
                         width="200" height="200">
                </a>
                <br/>
                <a th:href="@{${product.category.id} + '/products/' + ${product.id}}" th:text="${product.name}"/>
                <br/>
                <label th:text="${product.productDescription}">Product Description</label>
                <br/>
                <label th:text="${product.productPrice}">Product Price</label>
                <br/>
            </td>
        </tr>
    </table>
</body>
</html>