<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body th:object="${product}">
    <h2 th:text="*{category.categoryCode + ' ' +category.name}">CategoryCode CategoryName</h2>
    <form>
        <img th:src="@{'/'+ *{category.id} + '/products/' + *{id} + '/image'}"
            width="200" height="200">
        <br/>
        <label th:text="*{name}">Product Name</label>
        <br/>
        <label th:text="${product.productDescription}">Product Description</label>
        <br/>
        <label th:text="${product.productPrice}">Product Price</label>
        <br/>
        <br/>
        <input type="submit" value="Add to cart" />
    </form>

</body>
</html>