<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Commerce V1.0</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body>
<div th:if="${cartLineItems.size()!=0}">
    <div th:each="cartLineItem:${cartLineItems}">
        <div>
            <img th:src="@{'/'+ ${cartLineItem.product.category.id} + '/products/' + ${cartLineItem.product.id} + '/image'}"
                 width="200" height="200">
        </div>
        <div>
            <label th:text="${cartLineItem.product.id}">Product Name</label>
        </div>
        <div>
            <label th:text="${cartLineItem.product.productDescription}">Product Description</label>
        </div>
        <div>
            <label th:text="${cartLineItem.product.productPrice}">Product Price</label>
        </div>
        <div >
            <label th:text="${cartLineItem.quantity}">Quantity</label>
            <form th:action="@{/shoppingcart/delete}" method="post">
                <input type="hidden" name="cartId" th:value="${cartLineItem.shoppingCart.id}">
                <input type=""hidden name="productId" th:value="${cartLineItem.product.id}">
                <input type="submit" value="-">
            </form>
            <form th:action="@{/shoppingcart/add}" method="post">
                <input type="hidden" name="cartId" th:value="${cartLineItem.shoppingCart.id}">
                <input type=""hidden name="productId" th:value="${cartLineItem.product.id}">
                <input type="submit" value="+">
            </form>
        </div>
    </div>
</div>
<div th:unless="${cartLineItems.size()!=0}">
    <h3>Shopping Cart is Empty</h3>
</div>
</form>
</body>
</html>