<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Commerce V1.0</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body>
<table>
    <tr th:each="cartLineItem:${cartLineItems}">
        <td th:object="${cartLineItem.product}">
            <img th:src="@{'/'+ *{category.id} + '/products/' + *{id} + '/image'}"
                 width="200" height="200">
            <br/>
            <label th:text="*{name}">Product Name</label>
            <br/>
            <label th:text="*{productDescription}">Product Description</label>
            <br/>
            <label th:text="*{productPrice}">Product Price</label>
            <br/>
            <label th:text="${cartLineItem.quantity}">Quantity</label>
        </td>
    </tr>
</table>

</body>
</html>