<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
</head>
<body>
<!--/*@thymesVar id="product" type="com.springboot.ecommercev1.domain.Product"*/-->
<form action="http:\\localhost" method="post" enctype="multipart/form-data"
    th:action="@{/admin/categories/products/image}">
    <label class="control-label">Select File</label>
    <input id="imagefile" name="imagefile" type="file" class="file">
    <br/>
    <input type="hidden" th:field="${product.sku}">
    <input type="submit" value="Save Image"/>
</form>

</body>
</html>